# Python
__pycache__/
*.py[cod]
*.pyo
.venv/
.env
*.sqlite3

# Node/Frontend
node_modules/
dist/
.vite/
.cache/
.parcel-cache/

# OS
.DS_Store
Thumbs.db

# Docker
*.log
docker-data/

# IDE
.idea/
.vscode/

# Misc
*.ipynb_checkpoints

